POSTTEST 4 KECERDASAN BUATAN

Nama : Mochammad Hollan Ardinata Saragih

NIM : 2109106103

Import Library Dan Dataset

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
data = pd.read_csv('diabetes_prediction_dataset.csv')

Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [3]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

print ("====== TRAIN TEST SPLIT ======")
print ("------------------------------")
print ("| Dimensi x_train |", x_train.shape, "|")
print ("| Dimensi x_test  |", x_test.shape, "|")
print ("| Dimensi y_train |", y_train.shape, "  |")
print ("| Dimensi y_test  |", y_test.shape, "  |")
print ("------------------------------")

====== TRAIN TEST SPLIT ======
------------------------------
| Dimensi x_train | (70000, 8) |
| Dimensi x_test  | (30000, 8) |
| Dimensi y_train | (70000,)   |
| Dimensi y_test  | (30000,)   |
------------------------------

Melakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler

In [44]:
from sklearn.preprocessing import MinMaxScaler

data_copy_min_max_scaler = data.copy()
attribute_to_normalize = 'blood_glucose_level'
scaler = MinMaxScaler()
data_copy_min_max_scaler[[attribute_to_normalize]] = scaler.fit_transform(data_copy_min_max_scaler[[attribute_to_normalize]])
print(data_copy_min_max_scaler)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6             0.272727         0
1              6.6             0.000000         0
2              5.7             0.354545         0
3              5.0             0.340909         0
4              4.8             0.340909         0
...            ...                  ...       ...
99995          6.2             0.045455         0
99996          6.5             0.090909         0
99997          5.7             0.340909         0
99998          4.0             0.090909         0
99999          6.6             0.045455         0

[100000 rows x 9 columns]

Melakukan standarisasi pada dataset

In [45]:
from sklearn.preprocessing import StandardScaler
data_copy_standard = data.copy()
standard_scaler = StandardScaler()
attribute_to_standardize = 'age'
data_copy_standard[[attribute_to_standardize]] = standard_scaler.fit_transform(data_copy_standard[[attribute_to_standardize]])
print(data_copy_standard)

       gender       age  hypertension  heart_disease smoking_history    bmi  \
0      Female  1.692704             0              1           never  25.19
1      Female  0.538006             0              0         No Info  27.32
2        Male -0.616691             0              0           never  27.32
3      Female -0.261399             0              0         current  23.45
4        Male  1.515058             1              1         current  20.14
...       ...       ...           ...            ...             ...    ...
99995  Female  1.692704             0              0         No Info  27.32
99996  Female -1.771388             0              0         No Info  17.37
99997    Male  1.070944             0              0          former  27.83
99998  Female -0.794336             0              0           never  35.42
99999  Female  0.671241             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
1              6.6                   80         0
2              5.7                  158         0
3              5.0                  155         0
4              4.8                  155         0
...            ...                  ...       ...
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

[100000 rows x 9 columns]

Melakukan Data cleaning pada data dengan nilai null

In [7]:
strategies = {
    'bmi': data['bmi'].median(),
    'age': data['age'].mean(),
    'hypertension': data['hypertension'].mean(),
    'gender': data['gender'].mode()[0]
}

data_cleaned = data.fillna(value=strategies)
print("\nDataset setelah data cleaning:")
print("Jumlah Record Yang memiliki nilai null: ")
print(data_cleaned.isnull().sum())

Dataset setelah data cleaning:
Jumlah Record Yang memiliki nilai null:
gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

Melakukan Data cleaning pada data dengan nilai duplikat

In [24]:
print("Data yang memiliki nilai duplikat")
data.duplicated().sum()

Data yang memiliki nilai duplikat

8687

In [21]:
data_cleaned.drop_duplicates(inplace=True)
data_cleaned.duplicated().sum()
print("\nSetelah menggunakan fungsi drop_duplicates()")
print("Jumlah nilai Duplikat:", data_cleaned.duplicated().sum())

Setelah menggunakan fungsi drop_duplicates()
Jumlah nilai Duplikat: 0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

mengganti tipe data salah satu attribute angka

In [9]:
print ("Tipe Data Awal : ")
data['age'].dtypes

Tipe Data Awal :

dtype('float64')

In [10]:
print ("Tipe Data Akhir: ")
data_akhir = data[['age']].astype('int64')
data_akhir['age'].dtypes

Tipe Data Akhir:

dtype('int64')

Melakukan one hot encoding pada dataset

In [11]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder(sparse = False)

onehot = onehot_encoder.fit_transform(data[["smoking_history"]])

dataset_onehot = pd.DataFrame(onehot)

dataset_onehot.head()

c:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  1.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0  0.0  0.0

In [12]:
data = data.join(dataset_onehot)

data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,0,1,2,3,4,5
0,Female,80.0,0,1,never,25.19,6.6,140,0,0.0,0.0,0.0,0.0,1.0,0.0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,1.0,0.0,0.0,0.0,0.0,0.0
2,Male,28.0,0,0,never,27.32,5.7,158,0,0.0,0.0,0.0,0.0,1.0,0.0
3,Female,36.0,0,0,current,23.45,5.0,155,0,0.0,1.0,0.0,0.0,0.0,0.0
4,Male,76.0,1,1,current,20.14,4.8,155,0,0.0,1.0,0.0,0.0,0.0,0.0